body{
    background-image: url(/src/images/ceiling-8802142_1920.jpg);
}

.contenedor-registro{
    margin-top: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    color: red;
    background-color: silver;
}
.btn-register{
    width: 200px;
    
}
.contenedor-registro input{   
    padding: 5px;
    width: 300px;
    margin-bottom: 5px;
    display: flex;
    margin-top: 15px;
}
.contendor{
    display: flex;
    align-items: center;
    justify-content: center;
}